
/* ---- White Space ---- */

$ws-s: 50px;
$ws-m: 100px;
$ws-l: 160px;



/* ---- Media Queries Breakpoints ---- */
$screen-xs: 600px;
$screen-sm: 770px;
$screen-md: 992px;
$screen-lg: 1260px;
$screen-xlg: 1440px;
